@tailwind base;
@tailwind components;
@tailwind utilities; 

/* 
$gunmetal: rgba(36, 52, 69, 1);
$oxford-blue: rgba(14, 33, 54, 1);
$antiflash-white: rgba(233, 237, 239, 1);
$slate-gray: rgba(115, 127, 136, 1);
$charcoal: rgba(63, 79, 95, 1); 
*/ 

@layer base{
    *{
        @apply box-border scroll-smooth
    }
    a {
      @apply hover:text-blue-800 text-slate-950
    } 
    h1{ 
      @apply text-oxfordBlue font-bold xl:text-6xl text-7xl sm:pr-4 pb-4
    }
    h2{
      @apply text-oxfordBlue font-bold xl:text-5xl text-6xl sm:pr-4 pb-4
    }
    h3{ 
      @apply text-oxfordBlue font-bold xl:text-4xl text-5xl sm:pr-4 pb-4
    }
    h4{
      @apply text-oxfordBlue font-bold xl:text-3xl text-4xl sm:pr-4 pb-4
    }
    h5{ 
      @apply text-oxfordBlue font-bold xl:text-2xl text-3xl sm:pr-4 pb-4
    }
    h6{ 
      @apply text-oxfordBlue font-bold xl:text-xl text-2xl sm:pr-4 pb-4 
    }
  
    .max-width{
      @apply max-w-[95%] mx-auto
    }

    .responsive-grid-4{
      @apply grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 items-center gap-4
    } 
    .responsive-grid-3{
      @apply grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 items-center gap-4 justify-center
    } 
}

@layer components{
    /* HEADING SECTION */
    .heading-section .subheading {
      @apply font-normal text-lg block mb-0 uppercase text-gray-400 tracking-[2px] relative;
    }
    
    .heading-section .subheading.subheading-with-line:after {
        @apply absolute top-[50%] left-0 right-0 w-full h-[1px] bg-slate-300 content-[''] -z-10;
    }
     
    .heading-section h2 {
      @apply text-[28px] font-medium
    }
    /* HEADING SECTION */

    .btn-primary{
        @apply bg-oxfordBlue !text-white px-6 py-2 rounded text-xl hover:bg-oxfordBlue/80 transition-all duration-300 ease-in-out
    }
    .btn-admin{
        @apply bg-blue-900 !text-white px-6 py-2 rounded text-sm hover:bg-blue-800 transition-all duration-300 ease-in-out
    }
    .btn-delete{
        @apply flex justify-center items-center w-full bg-red-900 !text-white px-6 py-2 rounded hover:bg-red-800 transition-all duration-300 ease-in-out
    }
     
    .not-allowed {
        @apply !bg-slate-300 !text-gray-400 w-full cursor-not-allowed
    }

    .input-error{
        @apply text-red-700 text-xs mt-2 
    }

    .form-container{
      @apply bg-slate-100 rounded-md w-full h-full flex justify-center items-center
    }

    .heading{
      @apply text-3xl sm:text-4xl md:text-5xl lg:text-6xl font-light uppercase 
    }
  } 
  
  @layer utilities {
    table{
      @apply w-full whitespace-nowrap text-sm
    }
    table tr{
      @apply focus:outline-none h-16 border-b border-gray-100 shadow-md hover:shadow-lg bg-white
    }
    form {
      @apply w-fit rounded-md p-8 bg-white shadow-md
    }
    form input {
      @apply bg-slate-200 outline-none focus:ring-1 p-2 rounded text-sm
    }
    form .input-label{
      @apply text-slate-700 mb-2 block text-sm
    }
    p {
      @apply font-light text-sm
    }

}